<!-- 
  Launch file for the MOVE_BASE node which handles costmaps and trajectory planification 
  It publishes cmd_vel commands to the robot base
  
  Subscribes to Topic /odom for speed estimation!
-->
<launch>  
  <arg name="launch_prefix" default="" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" launch-prefix="$(arg launch_prefix)">
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_costmap_common_params.yaml" command="load" />
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_costmap_local_params.yaml" command="load" />
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_costmap_global_params.yaml" command="load" />
    <rosparam file="$(find missions_pkg)/launch/giraffgris/giraffgris_base_local_planner_params.yaml" command="load" />
  </node>
</launch>
